{% doc %}
  Renders product title block.

  @param {object} product - Product Liquid object
  @param {object} block_obj - Block Liquid object
  @param {boolean} [with_link] - Flag for render link

  @example
  {% render 'product-block-title', product: product, block_obj: block %}
{% enddoc %}

<h1 class="product__title {{ block_obj.settings.heading_size }}" {{ block_obj.shopify_attributes }}>
  {%- if with_link -%}
    <a href="{{ product.url }}">
  {%- endif -%}

  {{- product.title | escape -}}

  {%- if with_link -%}
    </a>
  {%- endif -%}
</h1>
