<button class="scroll-top button--tertiary focus-inset no-js-hidden">
	{{- 'sections.footer.scroll_top' | t -}}
	<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.99977 14.3999L7.99977 1.59959M7.99977 1.59959L13.6001 7.19988M7.99977 1.59959L2.39949 7.19988" stroke="currentColor" stroke-linecap="square"/>
</svg>
</button>

