.myduke-cart-item-container {
    max-width: 70rem;
    margin: auto;
}

.myduke-cart-item-container .title-wrapper-with-link {
    margin-bottom: 2.4rem;
}

.myduke-cart-item-container .title-wrapper-with-link .title {
    font-size: 3.2rem;
}

.myduke-cart-item-container .cart-item__details a{
    font-size: 2.4rem;
}

.cart__footer{
    justify-content: center;
}

.cart__footer .shipping-bar {
    background-color: #bfdbcf;
}

#free-shipping__progress {
    background-color: rgb(33, 131, 128);    
}

.myduke-cart-submit {
      display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #218380;
  color: #ffffff;
  font-family: var(--font-secondary-text-family);
  font-weight: 500;
  font-size: calc(var(--font-button-scale) * 1rem);
  line-height: 2.1rem;
  text-transform: capitalize;
  padding: 0.95rem 3.6rem;
  min-height: 4rem;
  text-decoration: none;
  transition: background 200ms ease;
}

.myduke-cart-submit button {
    color: #ffffff;
}

.base-breadcrumbs {
    max-width: 70rem;
    padding-left: 0rem;
}

.cart__footer>*+* {
        margin-left: 0px;
    }


@media (max-width: 767px) {
    .myduke-cart-item-container,
    .cart__footer {
        width: 95%;
    }

    .cart__footer {
        margin: auto;
     }

     .cart__footer>*+* {
        margin-top: 0px;
     }

}